# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Dataset
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Generated results
results/*/*
!results/negative/.gitkeep
!results/grayscale/.gitkeep
!results/brightening/.gitkeep
!results/arithmetic/.gitkeep
!results/geometry/.gitkeep

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db